*{
    box-sizing: border-box;
    font-family: 'serif';
}
html
{
   margin: 0;
}
html, body{
    width: 100%;

    /* FIXES BODY NOT BEING FULL PAGE */
    min-height: 100%;

    padding: 0;
    border: 0;
    margin: 0;
    background-color: #efefef;
    font-size: 1.2rem;

    /* Let the text breathe */
    line-height: 1.4;
}

/* Adapt to devices with smaller screens */
@media (max-width: 816px){
    body{
        font-size: 1.3rem;
    }
    header ul{
        display: flex;
        flex-direction: column;
    }
    header li{
        font-size: 1.8rem !important;
        padding: .2rem;
    }
    .container img{
        max-width: 15rem !important;
    }
}

@media (max-width: 600px){
    html, body{
        font-size: 1.1rem;
        line-height: 1.1;
    }

}

ul, li{
    padding-left: 2rem;
    border: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* HEADER WITH NAV BAR */
header{
    background-color: rgb(121 189 208);
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}
header li{
    font-size: 30px;
    display: inline;
}
header a{
    color: black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    padding: .2rem;
    background-color: #efefef;
}
header a:hover{
    background-color: black;
    color: white;
}

/* MAIN FLEX CONTAINER */
main{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

/* MAIN CONTENT */
#main-content{
    /* Easier to read text in center of page */
    max-width: 70rem;

    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    background-color: rgb(229, 229, 234);
}

/* ABOUTME CONTENT */
#about-me{
    /* Color contrast? */
    background-color: rgb(229, 229, 234);
}
#about-me h1{
    border-bottom: 6px dotted rgb(121 189 208);
    text-align: left;
    font-size: 4rem;
    margin: .5rem auto;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
#about-me p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

/* WORK/EXPERIENCE CONTENT */
#work{
    background-color: rgb(229, 229, 234);
}
#work h1{
    text-align: center;
    /* Temporary */
    margin: 3rem;
}
#work h1 a{
    border-bottom: 6px dotted rgb(121 189 208);
}
#work h3{
    margin-left: 10px;
    /* Contrast by font? */
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.container img{
    float: left;
    height: auto;
    max-width: 12rem;
    border-radius: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* PROJECTS */
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#projects h1{
    text-align: center;
}
#projects h1 a{
    border-bottom: 6px dotted rgb(121 189 208);
}
.projects div{
    margin: 1rem;
}
.projects img{
    max-width: 20rem;
}
.projects h3{
    margin: 0;
}
.projects a:hover{
    opacity: 50%;
}

/* Style a single Project */
.project-item{
    text-align: center;
}

/* FOOTER */
footer{
    text-align: center;
    bottom: 0;
    color: #efefef;
    background-color: black;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    padding: 4rem;
}
footer ul{
    padding: 0px;
}
footer li{
    display: inline;
}

footer a{
    color: rgb(255, 255, 255); 
    font-size: 2rem;
}

footer a:hover{
    color: #50c7eb;
}