/* Include some  @media for responsive layout */
*{
    box-sizing: border-box;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
html,body
{
   margin: 0;
}
body{
    height: 100%;
    background-color: #efefef;
}
strong{
    color: #000000;
}


/* SITE HEADER > NAV BAR */
header{
    top: 0;
    max-width: 100vw;
    min-height: 3vw;
    background-color: rgb(121 189 208);
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
}
header li{
    display: inline;
    padding-right: 50px;
    text-align:center;
}
#nav-content a:hover{
    color: #efefef;
}
#nav-content ul{
    padding: 0;
    margin: 0;
    background-color: rgb(121 189 208);
}
#nav-content{
    text-align: center;
}
#nav-content li a{
    color:rgb(0, 0, 0);
    font-size: 2vw;
    border-bottom: 1px solid rgb(75 137 154);
    text-decoration: none;
}
/* SITE HEADER > NAV BAR */


/* MAIN CONTENT */
#main-content{
    display: block;
}
#main-content h2{
    font-weight: 5;
    font-size: 2.5vw;
    line-height: 2;
    letter-spacing: .5vw;
}
#main-content a{
    border-bottom: 2px solid rgb(75 137 154);
}
#main-content p{
    font-size: 1.3vw;
    text-align: justify;
}
/* END MAIN CONTENT */


/* ABOUT ME SECTION */
#about-me-content{
    margin: 1vw;
}
#about-me-content h1{
    text-align: center;
    font-weight: 5;
    font-size: 2.0vw;
    line-height: 2;
    letter-spacing: .5vw;
}
#about-me-content p{
   max-width: 95vw; 
   margin: 0;
}
/* FIX THIS: when resizing the img in about me content is outside bounds causing 
   work-content h2 to shift left and right */
/* this is fixed by adding margin to h2 */
#about-me-content img{
    float: left;
    border-radius: 30px;
    padding-right: 1vw;
    padding-left: 1vw;
    max-width: 15vw;
    max-height: 20vw;
    object-fit: contain;
    height: auto;
}
/* END ABOUT ME SECTION */


/* WORK EXPERIENCE SECTION */
#work-content{
    margin: 1vw;
}
#work-content h1{
    text-align: center;
    font-weight: 5;
    font-size: 2.0vw;
    line-height: 2;
    letter-spacing: .5vw;
}
.experience{

}
/* END WORK EXPERIENCE SECTION */


/* PROJECT SECTION */
#project-content{
    margin: 1vw;
}
#project-content h1{
    font-weight: 5;
    font-size: 2.0vw;
    line-height: 2;
    letter-spacing: .5vw;
    text-align: center;
}
/* END PROJECT SECTION */


/* FOOTER SECTION */
#footer-content{

}