* {
    box-sizing: border-box;
    font-family: 'serif';
}
html {
    margin: 0;
}
html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    /*background-color: #373535;*/
    background-color: #252424;

    /* Let the text breathe */
    line-height: 1.4;
    font-size: 1.2em;
    color: #d9e0ee;
}
header, footer, main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}
section {
    margin-bottom: 3rem;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    overflow: clip;
    height: auto;
    max-width: 45rem;
}
a {
    color: #d9e0ee;
    text-decoration: none;
}
h5 {
    padding: 0px;
}

/* 
Get rid of problematic ul padding that creates problems when trying to 
make all content evenly align.
*/
ul {
    padding: 0;
    /*list-style-position: inside;*/
    list-style-type: none;
    margin: 0px
}
li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Header */
header h1{
    padding: 0px;
    margin: 0px;
}
.space-inbetween {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-icons a{
    padding: 5px;
}

/* Main */
main h2 {
    padding: 0px;
    margin: 0px;
}
.side-by-side-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.side-by-side-img img{
    max-width: 460px;
    max-height: 260px;
}
.img-with-caption {
    display: flex;
    flex-direction: column;
}
.side-by-side-img-with-separator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flexy-container {
    display: flex;
}
.flex-item {
    display: flex;
}
.flex-column {
    display: flex;
}
.img-with-caption-line {
    display: flex;
    flex-direction: column;
    border-right: 2px #d9e0ee solid;
    margin-right: 10px;
}


/* FOOTER */
footer {
    bottom: 0;
    color: #efefef;
    padding: 0px;
}